/nvim/vendor
/nvim/.netrwhist
/gnome-control-center/backgrounds/last-edited*
/pavucontrol.ini
/yelp/yelp.cfg
/monitors.xml
/monitors-v1-backup.xml
/beets/import.log
/beets/library.db
/beets/state.pickle
/pulse/
*.pyc
/chromium/
/mimeapps.list
/Empathy/geometry.ini
